<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ActivityTracker</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v3.0.6/css/line.css">
</head>

<body>
    <aside class="sidebar position-fixed top-0 left-0 overflow-auto h-100 float-left" id="show-side-navigation1">
        <i class="uil-bars close-aside d-md-none d-lg-none" data-close="show-side-navigation1"></i>
        <div class="sidebar-header d-flex justify-content-center align-items-center px-3 py-4">

            <img class="rounded-pill img-fluid" width="65" src="@ViewBag.User.ImgUrl" alt="">
            <div class="ms-2">
                <p class="mt-1 mb-0">Welcome,</p>
                <h5 class="fs-6 mb-0">
                    <a class="text-decoration-none" asp-area="" asp-controller="Home"
                        asp-action="Index">@ViewBag.User.FirstName @ViewBag.User.LastName</a>
                </h5>

            </div>
        </div>

        <ul class="categories list-unstyled">
            <li class="">
                <a asp-area="" asp-controller="Home" asp-action="Index"><img class="icons" src="~/images/dashboard.png">
                    Dashboard</a>

            </li>
            <li class="">
                <a asp-area="" asp-controller="Home" asp-action="ToDo"> <img class="icons" src="~/images/todo.png" />
                    ToDo</a>
            </li>
            <li class="">
                <a asp-area="" asp-controller="Home" asp-action="Teams"><img class="icons" src="~/images/group.png" />
                    Teams</a>

            </li>
        </ul>
    </aside>
    <section id="wrapper">
        <nav class="navbar navbar-expand-md">
            <div class="container mx-2">
                <div class="navbar-header">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#toggle-navbar" aria-controls="toggle-navbar" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <i class="uil-bars text-white"></i>
                    </button>
                    <a class="navbar-brand" href="#">Tracker<span class="main-color">.io</span></a>
                </div>
                <div class="collapse navbar-collapse" id="toggle-navbar">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a role="button" aria-expanded="false" asp-area="" asp-controller="Signin"
                                asp-action="Logout">Logout</a>

                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i data-show="show-side-navigation1" class="uil-bars show-side-btn"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </section>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - ActivityTracker - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
