@model ViewModelTeam

<div class="teams">
    
<partial name="AddTeam" model="Model.Team"/>
    @* @Html.Partial("AddTeam", Model.Team) *@
   
        @foreach (var item in Model.ListOfTeams)
        {
            <div class="team">
                <h2>@item.TeamName   <a asp-controller="Home" asp-action="Join" asp-route-teamId="@item.TeamId" asp-route-status="add">Join</a>@{
                        if(item.AllUsers==null){
                          continue;
                        }
                        else if (item.AllUsers.Any(r => r.UserId == ViewBag.UserId))
                        {
                            <a class="btn btn-primary" asp-controller="Home" asp-action="Join" asp-route-teamId="@item.TeamId"
                asp-route-status="remove">Leave</a>
                        }
                        else
                        {
                            <a asp-controller="Home" asp-action="Join" asp-route-teamId="@item.TeamId" asp-route-status="add">Join</a>
                        }
                    }
                </h2>
                <ol class="list-group ">
                    
                    @foreach (var i in item.AllUsers)
                    {
                        <li class="list-group-item">@i.FirstName @i.LastName</li>
                    }
                </ol>
            </div>
        }
    
</div>
