@model List<ToDo>
@* @{
    Layout = "~/Views/Shared/_Layout.cshtml";
} *@

<div class="card-deck">
    <div class="ToDo">
        <div class="card" style="width: 18rem;">
            <div class="card-header">
                <h3>To Do
                    <partial name="AddPartial" />
                </h3>
            </div>
            <ul class="list-group list-group-flush">
                @if (Model != null)
                {
                    @foreach (var todo in Model)
                    {
                        if (todo.Status == 1 && todo.UserId == ViewBag.User.UserId)
                        {
                            <div class="card card-task " style="margin-top:20px;">
                                @* bg-@todo.Importance *@
                                <div class="card-body">
                                    <h5 class="card-title">@todo.Title</h5>
                                    <button type="button" class="btn btn-primary" data-toggle="modal"
                                    asp-route-todoid="@todo.ToDoId" asp-action="ShowToDo" data-target="#ShowMore">More</button>
                                    
                                </div>
                            </div>
                        }
                    }
                }
            </ul>
        </div>
    </div>
    <div class="Doing">
        <div class="card" style="width: 18rem;">
            <div class="card-header">
                <h3>Doing</h3>
            </div>
            <ul class="list-group list-group-flush">
                @if (Model != null)
                {
                    @foreach (var todo in Model)
                    {
                        if (todo.Status == 2 && todo.UserId == ViewBag.User.UserId)
                        {
                            <div class="card card-task bg-@todo.Importance" style="margin-top:20px;">
                                <div class="card-body">
                                    <h5 class="card-title">@todo.Title</h5>
                                    <button type="button" class="btn btn-primary" data-toggle="modal"
                            asp-route-todoid="@todo.ToDoId" asp-action="ShowToDo" data-target="#ShowMore">More</button>
                                    <partial name="ShowPartial" />
                                </div>
                            </div>
                        }
                    }
                }
            </ul>
        </div>
    </div>
    <div class="Done">
        <div class="card" style="width: 18rem;">
            <div class="card-header">
                <h3>Done</h3>
            </div>
            <ul class="list-group list-group-flush">
                @if (Model != null)
                {
                    @foreach (var todo in Model)
                    {
                        if (todo.Status == 3 && todo.UserId == ViewBag.User.UserId)
                        {
                            <div class="card card-task bg-@todo.Importance" style="margin-top:20px;">
                                <div class="card-body">
                                    <h5 class="card-title">@todo.Title</h5>
                                    <button type="button" class="btn btn-primary" data-toggle="modal"
                            asp-route-todoid="@todo.ToDoId" asp-action="ShowToDo" data-target="#ShowMore">More</button>
                                    <partial name="ShowPartial" />
                                </div>
                            </div>
                        }
                    }
                }
            </ul>
        </div>
    </div>
</div>
