@model ViewModelToDo
@* @{
    Layout = "~/Views/Shared/_Layout.cshtml";
    } *@

<div class="card-deck">
    <div class="ToDo">
        <div class="card" style="width: 18rem;">
            <div class="card-header">
                <h3>To Do
                    <partial name="AddPartial" model="Model.ToDo" />
                </h3>
                <h5>@Model.ListOfToDos.Count((l=>l.Status==1 &&l.UserId==ViewBag.User.UserId)) tasks</h5>
            </div>
            <ul class="list-group list-group-flush">
                @if (Model.ListOfToDos != null)
                {
                    @foreach (var todo in Model.ListOfToDos)
                    {
                        if (todo.Status == 1 && todo.UserId == ViewBag.User.UserId)
                        {
                            <div class="card card-task bg-@todo.Importance" style="margin-top:20px;">

                                <div class="card-body">
                                    <h5 class="card-title">@todo.Title</h5>
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ShowMore">More</button>
                                    <partial name="ShowPartial" model="todo" />
                                    <a  asp-controller="Home" class="btn btn-primary" asp-route-todoid="@todo.ToDoId" asp-action="UpdateToDo">Go Doing</a>
                                </div>
                            </div>
                        }
                    }
                }
            </ul>
        </div>
    </div>
    <div class="Doing">
        <div class="card" style="width: 18rem;">
            <div class="card-header">
                <h3>Doing</h3>
                <h5>@Model.ListOfToDos.Count((l=>l.Status==1 &&l.UserId==ViewBag.User.UserId)) tasks</h5>
            </div>
            <ul class="list-group list-group-flush">
                @if (Model.ListOfToDos != null)
                {
                    @foreach (var todo in Model.ListOfToDos)
                    {
                        if (todo.Status == 2 && todo.UserId == ViewBag.User.UserId)
                        {
                            <div class="card card-task bg-@todo.Importance" style="margin-top:20px;">
                                <div class="card-body">
                                    <h5 class="card-title">@todo.Title</h5>
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ShowMore">More</button>
                                    <partial name="ShowPartial" model="todo" />
                                    <button type="button"   asp-controller="Home"  class="btn btn-primary" asp-route-todoid="@todo.ToDoId"
                            asp-action="UpdateToDo">Done</button>
                            <a  asp-controller="Home" class="btn btn-primary" asp-route-todoid="@todo.ToDoId" asp-action="UpdateBackToDo">ToDo</a>
                                </div>
                            </div>
                            
                        }
                    }
                }
            </ul>
        </div>
    </div>
    <div class="Done">
        <div class="card" style="width: 18rem;">
            <div class="card-header">
                <h3>Done</h3>
                <h5>@Model.ListOfToDos.Count((l=>l.Status==1 &&l.UserId==ViewBag.User.UserId)) tasks</h5>
            </div>
            <ul class="list-group list-group-flush">
                @if (Model.ListOfToDos != null)
                {
                    @foreach (var todo in Model.ListOfToDos)
                    {
                        if (todo.Status == 3 && todo.UserId == ViewBag.User.UserId)
                        {
                            <div class="card card-task bg-@todo.Importance" style="margin-top:20px;">
                                <div class="card-body">
                                    <h5 class="card-title">@todo.Title</h5>
                                    <button type="button" class="btn btn-primary" data-toggle="modal"  data-target="#ShowMore">More</button>
                                    <partial name="ShowPartial" model="todo" />
                                    <a  asp-controller="Home" class="btn btn-primary" asp-route-todoid="@todo.ToDoId" asp-action="UpdateBackToDo">Doing</a>

                                </div>
                            </div>
                        }
                    }
                }
            </ul>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
        